div {
  display: block;
  text-align: center;
}

img {
  height: 95px; /*95*/
  width: 269px;
  padding-top: 112px; /*250*/
  transition: all 0.1s ease-in;
  /*position: absolute;
  top: 250px;
  left: 500px;*/
}
/*.logo:hover {
  transform: rotate(30deg);
}*/
.search {
  padding-top: 20px;
  text-align: center;
}

.sirac {
  height: 25px;
  width: 466px;
}

.submit {
  position: relative;
  width: 96px;
  height: 29px;
  top: 10px;
  left: -60px;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  color: #444;
}

.submitTwo {
  position: relative;
  width: 106px;
  height: 29px;
  top: -19px;
  left: 60px;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  color: #444;
  background-color: #F5F5F5; 
}
/*
.mic {
 
  padding-top: 2px;
  margin-right: 50px;
  height: 15px;
  width: 13px;
  z-index: 1;
}*/
.nav {
 position: absolute;
 top: 15px;
 right: 100px;
 font-size: 13px;
 font-family: arial, sans-serif;
 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

