div {
  display: block;
  text-align: center;
}
/*div.logo {
  height: 231px;
  width: 1112px;
}*/
.nav {
 position: absolute;
 font-family: arial, sans-serif;
 right: 30px;
 }

li img {
  position: relative;
  top: -5px;
  height: 30px;
  width: 30px;
  padding-top: 0px;
  opacity: 0.7;
 }
 .sig {
  position: relative;
  top: -5px;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  background: #4387FD;
  color: white;
  line-height: 24px;
 }
/*
ul {
  list-style-type: none;
  margin: none;
  width: 100%;
}*/

li {
  display: inline;
  float: left;  
  width: 55px;
}
a {
  color: black;
  font-family: arial, sans-serif;
  font-size: 13px;
  text-decoration: none;
}
.mai:hover {
  text-decoration: underline;
}

.img:hover {
  text-decoration: underline;
}
.mai {
  opacity: 0.7;
}
/*This is messing up any other image that is on the page*/
img {
  height: 95px; /*95*/
  width: 269px;
  padding-top: 184px; /*250*/
    /*position: absolute;
  top: 250px;
  left: 500px;*/
}
/*.logo:hover {
  transform: rotate(30deg);
}*/
.search {
  padding-top: 20px;
  text-align: center;
}

.sirac {
  height: 20px;
  width: 568px;
}

.submit {
  position: relative;
  width: 96px;
  height: 29px;
  top: 12px;
  left: -60px;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  color: #444;
}

.submitTwo {
  position: relative;
  width: 106px;
  height: 29px;
  top: -17px;
  left: 60px;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  color: #444;
  background-color: #F5F5F5; 
}
/*
.mic {
 
  padding-top: 2px;
  margin-right: 50px;
  height: 15px;
  width: 13px;
  z-index: 1;
}*/
.low {
  list-style-type: none;
  width: 100%;
  margin-left: -8px;
  line-height: 40px;
  color: black;
  font-family: arial, sans-serif;
  font-size: 13px;
  text-decoration: none;
  background-color: #F2F2F2;
  position: absolute;
  bottom: 0px;
  
}
#lnav {
  position: absolute;
  left: 25px;
  word-spacing: 30px;
  opacity: 0.6;
}
#rnav {
  /*margin-right: -1100px;*/
  float: right;
  padding-right: 20px;
  word-spacing: 30px;
  opacity: 0.6;
}

